* {
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
  font-family: monospace;
  /* border: 1px dotted red; */
}

header {
  position: sticky;
  top: 0;
  height: 5rem;
  width: 100%;
  background-color: #333;
  z-index: 9999;
}

nav {
  background-color: #333;
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 1rem;
}

a {
  background-color: #333;
  text-decoration: none;
  font-size: 32px;
  font-family: monospace;
  color: white;
  text-decoration: none;
}

.content {
  margin: 2rem 10rem;
}

.content p {
  text-align: justify;
  font-size: 20px;
  padding-bottom: 5rem;
}

::selection {
  color: white;
  background-color: #222;
}

i {
  margin-bottom: 1rem;
  animation: notification 2s infinite;
}

@keyframes notification {
    5% {transform: rotate(20deg);}
    10% {transform: rotate(-20deg);}
    15% {transform: rotate(20deg);}
    20% {transform: rotate(0deg);}
}

.header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}
